
<div class="card-group">
    @foreach(var label in _header)
    {
        <div class="card">
            <div class="card-header">
                @label    
            </div>
        </div>
    }
</div>
@foreach (var week in _weeks)
{
    <div class="card-group">
        <WeekView Days=week
              OnSubmit=HandleShowAddTask />
    </div>
}
